body {
  text-align: center;
  font-family: "Bookman";
  font-size: 16px;
}
body::after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(bobbins.jpg);
    background-size: 100%;
    opacity: .6;
    content: "";
    z-index: -1;
  }
  h1{
    margin:0px;
  }
.container{  border-width: 5px;
  border-style: solid;
  margin: auto;
  width: 500px;
  display: block;
  border-radius: 10px;
}
#banner{
  background-color:	#C1CDD3;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: solid;
}
form{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}
input {
  border-radius: 5px;
  border-style: solid;
}
#submit{
  border-color: black;
  background-color:	#C1CDD3;
  font-family: "Bookman";
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}
